<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movies from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class='create-movie'>
    <div class="field">
      <%= form.label :title, class: "label" %>
      <%= form.text_field :title, placeholder: 'The title of your movie', class: "text-field" %>
    </div>

    <div class="field">
      <%= form.label :photo, class: "label" %>
      <%= form.text_field :photo, placeholder: 'An image url', class: "text-field" %>
    </div>

    <div class="">
      <%= form.hidden_field :cinema, value: @cinema.name %>
    </div>

    <div class="field">
      <%= form.label "Morning schedules", class: "label" %>
      <%= form.text_field :roomMorning, placeholder: "Possible rooms are #{@morning_placeholders}", class: "text-field" %>
    </div>
    
    <div class="field">
      <%= form.label "Afternoon schedules", class: "label" %>
      <%= form.text_field :roomAfternoon, placeholder: "Possible rooms are #{@afternoon_placeholders}", class: "text-field" %>
    </div>
    
    <div class="field">
      <%= form.label "Evening schedules", class: "label" %>
      <%= form.text_field :roomNight, placeholder: "Possible rooms are #{@evening_placeholders}", class: "text-field" %>
    </div>

    <div class="actions">
      <%= form.submit class: "reserve-btn" %>
    </div>
  </div>
<% end %>
