<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movies from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :cinema %>
    <%= form.text_field :cinema %>
  </div>

  <div class="field">
    <%= form.label "Sala de la mañana" %>
    <%= form.text_field :roomMorning %>
  </div>
  
    <div class="field">
    <%= form.label "Sala de la tarde" %>
    <%= form.text_field :roomAfternoon%>
  </div>
  
    <div class="field">
    <%= form.label "Sala de la Noche" %>
    <%= form.text_field :roomNight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
