<%= link_to 'Back', @cinema, class: "back-btn" %>

<div class="single-movie-display">
  <img src=<%= @movie.photo %> class="single-image">
  <p class="single-movie-title"><%= @movie.title %></p>
  <div class="schedules-container">
    <div class="schedule">
      <p class="inside-text text-one">Morning:</p>
      <% @morning_schedule.rooms.each do |room| %>
        <%= link_to room.name.to_s, room_path(:id => room.id, :scheduleId => @morning_schedule.id), class: "inside-text text-two" %>
      <% end %>
    </div>
    <div class="schedule">
      <p class="inside-text text-one">Afternoon:</p>
      <% @afternoon_schedule.rooms.each do |room| %>
        <%= link_to room.name.to_s, room_path(:id => room.id, :scheduleId => @afternoon_schedule.id), class: "inside-text text-two" %>
      <% end %>
    </div>
    <div class="schedule">
      <p class="inside-text text-one">Evening:</p>
      <% @evening_schedule.rooms.each do |room| %>
        <%= link_to room.name.to_s, room_path(:id => room.id, :scheduleId => @evening_schedule.id), class: "inside-text text-two" %>
      <% end %>
    </div>
  </div>
</div>
